**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Chloe Kwan
- Anik Alam
- Anusha Rao
- Sophie Phung
- Patric Sanchez

# Research Question

Our research question is: What is the economic impact of Taylor Swift’s tour stops on the local economics of different cities? How do factors (such as venue size, average ticket price, concert attendance, etc.) impact sectors such as retail, hospitality, and the restaurant industry?

## Background and Prior Work


In 2023, singer Taylor Swift embarked on a tour of her greatest hit songs, aptly titled “The Eras Tour”. The tour spanned 53 stops throughout the United States, beginning in March and ending in August. Swift then continued touring in Latin America, Asia, and Australia into 2024, with plans to continue touring Europe and the remaining North American stops till the end of 2024.

Swift has been praised for helping boost the tourism industry at the various cities she visited on her United States tour. As fans flocked to city centers to witness her performance, they expended savings accumulated during the COVID-19 pandemic on tourism and hospitality prior to the big event. In what is dubbed as “Swiftonomics<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1),” the economic implications of the Eras Tour fascinated economists as they gathered data to understand these statistics. States reported receiving millions towards their economies, with metropolitans, such as Los Angeles, also seeing an increase in thousands of jobs to meet the demand. However, with the increased willingness to spend on tourism, there was also record inflation in certain sectors, as the prices of transportation and lodging shot up, with dwindling supply attempting to match significant demand.

Previous studies that have been done on this topic primarily consist of new articles which report increases in spending when Swift visits these cities. For example, this study<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) states that the Eras Tour added 5 billion dollars to the economy. Other research works<a name="cite_ref-3"></a>[<sup>3</sup>](#cite_note-3) examine the use of the words “Taylor Swift” as a marketing tool, whether or not the singer even stops in the city. For example, in San Diego, a sushi restaurant hosted a Swift-themed night the same week the singer was in Los Angeles, and immediately sold out. According to another study<a name="cite_ref-4"></a>[<sup>4</sup>](#cite_note-4), of the 53 stops in 20 cities, the average fan spent nearly $1300 on travel, hotel stays, food, and merchandise. In Pittsburgh, average room rates saw a 106% increase, with 83% of guests coming from outside the host county. We have not seen a comprehensive city-by-city analysis, and are curious as to which cities saw the greatest boosts in revenue, which sectors are most crucial to economic success, and if ticket pricing and number sold come into contention. With such a variety in demographics and areas visited, our group is interested in analyzing which areas saw the greatest growth in revenue, and where inflation hurt consumers the most.
1. <a name="https://www.investopedia.com/swiftonomics-definition-8601178"></a> [^](#cite_ref-1) Mitra, M. (8 Mar 2024) Swiftonomics: The Economic Influence of Taylor Swift. *Investopedia*. https://www.investopedia.com/swiftonomics-definition-8601178 
2. <a name="https://www.cbsnews.com/news/taylor-swift-eras-tour-boosted-economy-tourism-federal-reserve-how-much-money-made/"></a> [^](#cite_ref-2) O'Kane, C. (18 Jul 2023) The Federal Reserve says Taylor Swift's Eras Tour boosted the economy. One market research firm estimates she could add $5 billion *CBS New*. https://www.cbsnews.com/news/taylor-swift-eras-tour-boosted-economy-tourism-federal-reserve-how-much-money-made/
3. <a name="https://www.cnbc.com/2024/03/01/the-taylor-swift-economic-effect-has-reached-every-town-in-america.html"></a> [^](#cite_ref-3) Williams, K. (1 Mar 2024) The Taylor Swift economy has reached every town in America, from small business moms to skating rinks and sushi bars. *CNBC*. https://www.cnbc.com/2024/03/01/the-taylor-swift-economic-effect-has-reached-every-town-in-america.html 
4. <a name="https://www.ustravel.org/news/taylor-swift-impact-5-months-and-5-billion"></a> [^](#cite_ref-4) (19 Sept 2023) The Taylor Swift Impact – 5 Months and $5+ Billion. *U.S. Travel Association*. https://www.ustravel.org/news/taylor-swift-impact-5-months-and-5-billion

# Hypothesis


- While it may depend on the size and economic state of the city, we hypothesize that Taylor Swift’s tour locations cause local economies to see a sharp spike; particularly within hotels, transportation, food, and other amenities due to her massive fanbase and cultural impact; LA for example might see relatively less economic impact compared to other smaller cities.
- Regardless of the city or region, a Taylor Swift concert will have an impact on any local economy, increasing the prices of most amenities including: food, hotels/shelter, and transportation; Though we believe that international concert locations will see a larger impact compared to concerts held within the United States.

Particularly because of how popular Taylor Swift is, and how large her fanbase and cultural impact is, we expect that businesses will take this into consideration if there is a tour nearby and shift their pricing for services/accomodations accordingly in order to maximize profits. This, alongside a large influx of tourists will naturally increase the demand and congestion of services as people will book hotels with as much advance as possible, visit local restaurants/fast food chains, and have to use transportation services especially if they are traveling.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: Taylor Concert Tours
  - Link to the dataset: [https://www.kaggle.com/datasets/gayu14/taylor-concert-tours-impact-on-attendance-and](https://www.kaggle.com/datasets/gayu14/taylor-concert-tours-impact-on-attendance-and)
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name: U.S. Airline Traffic Data (2003-2023)
  - Link to the dataset: [https://www.kaggle.com/datasets/yyxian/u-s-airline-traffic-data](https://www.kaggle.com/datasets/yyxian/u-s-airline-traffic-data)
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Dataset #1 (use name instead of number here)

In [25]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd
import numpy as np

In [44]:
# Reading initial Datafram
taylor_df = pd.read_csv('Taylor_Train.csv', encoding = "ISO-8859-1")
taylor_df.head()

,City,Country,Venue,Opening act(s),Attendance (tickets sold / available),Revenue,Tour
0,Evansville,United States,Roberts Municipal Stadium,Gloriana\r\nKellie Pickler,"7,463 / 7,463","$360,617",Fearless_Tour
1,Jonesboro,United States,Convocation Center,Gloriana\r\nKellie Pickler,"7,822 / 7,822","$340,328",Fearless_Tour
2,St. Louis,United States,Scottrade Center,Gloriana\r\nKellie Pickler,"13,764 / 13,764","$650,420",Fearless_Tour
3,Alexandria,United States,Bishop Ireton High School,Gloriana\r\nKellie Pickler,,,Fearless_Tour
4,North Charleston,United States,North Charleston Coliseum,Gloriana\r\nKellie Pickler,"8,751 / 8,751","$398,154",Fearless_Tour

In [45]:
# filter dataset (only reputation tour and remove opening act(s))
taylor_df = taylor_df.drop('Opening act(s)', axis=1)
eras_df = taylor_df[taylor_df['Tour'] == "Reputation_Stadium_Tour"].reset_index(drop=True)
eras_df.head()

,City,Country,Venue,Attendance (tickets sold / available),Revenue,Tour
0,Glendale,United States,University of Phoenix Stadium,"59,157 / 59,157","$7,214,478",Reputation_Stadium_Tour
1,Santa Clara,United States,Levi's Stadium,"107,550 / 107,550","$14,006,963",Reputation_Stadium_Tour
2,Santa Clara,United States,Levi's Stadium,"107,550 / 107,550","$14,006,963",Reputation_Stadium_Tour
3,Pasadena,United States,Rose Bowl,"118,084 / 118,084","$16,251,980",Reputation_Stadium_Tour
4,Pasadena,United States,Rose Bowl,"118,084 / 118,084","$16,251,980",Reputation_Stadium_Tour

## Dataset #2 (if you have more than one, use name instead of number here)

In [20]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 

# Read initial datafram
airtraffic = pd.read_csv('airtraffic.csv')
airtraffic.head()

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
0,2003,1,"43,032,450","4,905,830","47,938,280","785,160","57,667","842,827","36,211,422","12,885,980","49,097,402","56,191,300","17,968,572","74,159,872",64.44,71.71,66.20
1,2003,2,"41,166,780","4,245,366","45,412,146","690,351","51,259","741,610","34,148,439","10,715,468","44,863,907","50,088,434","15,587,880","65,676,314",68.18,68.74,68.31
2,2003,3,"49,992,700","5,008,613","55,001,313","797,194","58,926","856,120","41,774,564","12,567,068","54,341,633","57,592,901","17,753,174","75,346,075",72.53,70.79,72.12
3,2003,4,"47,033,260","4,345,444","51,378,704","766,260","55,005","821,265","39,465,980","10,370,592","49,836,572","54,639,679","15,528,761","70,168,440",72.23,66.78,71.02
4,2003,5,"49,152,352","4,610,834","53,763,186","789,397","55,265","844,662","41,001,934","11,575,026","52,576,960","55,349,897","15,629,821","70,979,718",74.08,74.06,74.07

In [23]:
# Filter flight logs by Tour Time Frames

# Reputation Tour: May 2018 - Nov 2018
reputation_tour = airtraffic[(airtraffic['Year'] == 2018) & (airtraffic['Month'] >= 5) & (airtraffic['Month'] <= 11)]
reputation_tour

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
184,2018,5,"67,844,134","9,416,071","77,260,205","724,065","73,277","797,342","62,580,568","25,356,444","87,937,012","73,310,971","31,133,051","104,444,022",85.36,81.45,84.20
185,2018,6,"70,277,734","10,569,323","80,847,057","732,292","77,394","809,686","66,095,829","28,194,872","94,290,701","75,323,742","32,486,010","107,809,753",87.75,86.79,87.46
186,2018,7,"72,539,780","11,391,458","83,931,238","759,879","81,620","841,499","69,091,745","29,716,690","98,808,435","78,406,927","34,171,666","112,578,593",88.12,86.96,87.77
187,2018,8,"70,337,936","10,624,720","80,962,656","756,345","77,086","833,431","66,132,022","28,638,849","94,770,872","76,722,785","33,238,079","109,960,864",86.20,86.16,86.19
188,2018,9,"60,468,115","8,208,432","68,676,547","686,422","65,032","751,454","55,431,352","23,604,682","79,036,033","68,530,468","29,479,449","98,009,918",80.89,80.07,80.64
189,2018,10,"67,081,594","8,399,032","75,480,626","722,634","66,557","789,191","61,011,629","23,294,709","84,306,338","72,044,924","29,079,416","101,124,339",84.69,80.11,83.37
190,2018,11,"64,659,493","8,052,683","72,712,176","678,121","64,528","742,649","58,779,361","20,613,643","79,393,004","69,098,147","25,689,087","94,787,234",85.07,80.24,83.76

In [36]:
# Flight logs during Eras Tour: March 2023 - August 2023
eras_tour = airtraffic[(airtraffic['Year'] == 2023) & (airtraffic['Month'] >= 3) & (airtraffic['Month'] <= 8)]
eras_tour

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
242,2023,3,"69,708,556","10,094,584","79,803,140","655,836","71,076","726,912","65,767,207","23,802,743","89,569,950","78,074,142","28,689,319","106,763,461",84.24,82.97,83.90
243,2023,4,"67,571,574","10,008,645","77,580,219","636,160","70,078","706,238","63,426,143","24,708,597","88,134,739","74,335,449","29,988,666","104,324,115",85.32,82.39,84.48
244,2023,5,"71,423,653","10,358,666","81,782,319","667,331","71,924","739,255","66,743,565","26,805,432","93,548,998","77,821,407","31,950,687","109,772,094",85.77,83.90,85.22
245,2023,6,"72,482,621","11,544,505","84,027,126","661,293","75,279","736,572","68,789,127","29,883,465","98,672,591","78,058,358","33,410,671","111,469,028",88.13,89.44,88.52
246,2023,7,"75,378,157","12,432,615","87,810,772","684,939","79,738","764,677","72,267,904","31,376,000","103,643,904","81,986,010","35,326,191","117,312,202",88.15,88.82,88.35
247,2023,8,"71,477,988","11,572,149","83,050,137","691,482","77,137","768,619","67,933,484","29,938,507","97,871,992","81,997,399","34,908,793","116,906,192",82.85,85.76,83.72

In [37]:
# Flight logs before Eras Tour: Before March 2023
pre_eras = airtraffic[(airtraffic['Year'] == 2023) & (airtraffic['Month'] >= 1) & (airtraffic['Month'] <= 2)]
pre_eras

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
240,2023,1,"58,284,200","9,066,833","67,351,033","605,944","66,859","672,803","55,627,743","21,021,245","76,648,988","72,122,699","26,809,510","98,932,209",77.13,78.41,77.48
241,2023,2,"56,729,998","8,066,893","64,796,891","567,702","60,643","628,345","53,329,402","18,254,936","71,584,338","67,037,368","24,211,736","91,249,104",79.55,75.40,78.45

In [38]:
# Flight logs after Eras Tour: After August 2023
post_eras = airtraffic[(airtraffic['Year'] == 2023) & (airtraffic['Month'] >= 9) & (airtraffic['Month'] <= 12)]
post_eras

,Year,Month,Dom_Pax,Int_Pax,Pax,Dom_Flt,Int_Flt,Flt,Dom_RPM,Int_RPM,RPM,Dom_ASM,Int_ASM,ASM,Dom_LF,Int_LF,LF
248,2023,9,"66,858,490","9,392,985","76,251,475","649,308","64,241","713,549","61,777,546","26,076,318","87,853,864","75,748,336","31,231,710","106,980,046",81.56,83.49,82.12

# Ethics & Privacy

Possible ethical implications include ensuring the informed consent of those whose data may end up being collected, such as their financial or demographic information. However, the datasets we are choosing to utilize contain no personally identifiable information, so there are limited consequences for privacy and confidentiality. There should also be ethical consideration given to the long-term consequences of analyzing and sharing our results to the public, as it may influence others’ public perceptions of Taylor Swift and the Eras Tour, potentially affecting advertising and investment decisions. This may also have ethical implications surrounding the effect on hotels and small businesses/restaurants whose finances we would analyze as part of the local economies of each city, or the disruption to daily lives that local residents face. Thus, we must ensure that the data we collect is accurate and transparent in its collection, so that biases do not lead to inaccurate conclusions that harm the well-being of businesses and communities.

# Team Expectations


* **To respond in a timely manner and communicate work, concerns, and conflicts.**
* **To complete work in a timely manner.**
* **To contribute the expected amount as communicated with the team.**

Though work may be split differently amongst specific portions of the project, overall delegation of tasks are expected to be completed by their outline due dates. Team members are expected to contribute to the following project aspects as outlined in the Team Policies:
- “Deciding on the project topic, searching for possible datasets, and honing the data science question.
- Writing well-commented and clear code to wrangle, explore, visualize, analyze, and communicate your groups’ findings.
- Writing the accompanying text throughout the project to explain each section.
- Editing the text and code throughout your project for grammar, misspellings, and clarity.”

(Courtesy of the COGS 108 Team Policies) 

Team members are also expected to attend regular meetings which are scheduled in advance, to work individually/in pairs when needed, and to communicate any discrepancies they may encounter which may include scheduling conflicts, issues involving project, etc.

In the case a team member does not cooperate, an email will be sent informing them for the lack of work contributed, requiring them to demonstrate significant improvement within a week in the outlined tasks relay to them. If there are no actions taken, the professor will be notified.

# Project Timeline Proposal




| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 5/10  |  3 PM | Proposal submitted, begin compiling data for the dataset| Discuss possible factors(narrowing or widening the list), discuss possible analytical approaches. Assign and delegate work. | 
| 5/17  |  3 PM |  Import, Wrangle, & CLean Data. Begin EDA | Review data and cleaning processes. Discuss how to proceed with analytics. Assign work. | 
| 5/24  |  3 PM  | Finish dataset management, wrangling. Reach a midway point regarding analytics| Discuss analysis work. Continue delegating remaining work. |
| 5/31  |  3 PM  | Complete analysis; Brainstorm conclusion remarks.| Discuss results, finish analyses, write-up conclusions.|
| 6/7   |  3 PM  | Brainstorm video ideas, write out script.| Film and complete video, ensure it meets all guidelines stated by the syllabus. Complete surveys.|
| 6/12  | Before 11:59 PM  | Final project*, video*, team eval survey, post-course survey due | Turn in Final Project & Group Project Surveys |